In [1]:
import pandas as pd
import numpy as np

In [2]:
listings = pd.read_csv("Beijing Airbnb Data(clean)/listings_clean.csv")

In [3]:
calendar = pd.read_csv("Beijing Airbnb Data(clean)/calendar_detail.csv")

In [4]:
reviews = pd.read_csv("Beijing Airbnb Data(clean)/reviews_detail.csv")

In [5]:
print(listings.shape,reviews.shape,calendar.shape)

(28448, 15) (202099, 6) (10384980, 7)

In [17]:
reviews=reviews[reviews.comments.str.contains(r'[^\x00-\x7F]+')== False]
reviews=reviews[reviews.reviewer_name.str.contains(r'[^\x00-\x7F]+')== False]
reviews=reviews.drop('reviewer_id', axis=1)

In [27]:
reviews

listing_id       0
id               0
date             0
reviewer_name    0
comments         0
dtype: int64

In [37]:
reviews.to_csv('reviews_final.csv',index=False)

In [20]:
listings['last_review']=listings['last_review'].replace(np.nan, 'No reviews', regex=True)
listings=listings.drop(['neighbourhood','number_of_reviews','last_review','reviews_per_month',
                        'calculated_host_listings_count'], axis=1)

In [28]:
listings.isna().sum()

id                  0
name                0
host_id             0
host_name           0
latitude            0
longitude           0
room_type           0
price               0
minimum_nights      0
availability_365    0
dtype: int64

In [36]:
listings.to_csv('listings_final.csv',index=False)

In [22]:
sample_calendar = calendar.groupby('listing_id').apply(lambda x: x.sample(frac=0.005))

In [30]:
sample_calendar.reset_index(drop=True, inplace=True)
sample_calendar.dropna(inplace=True)

In [31]:
sample_calendar.head(100)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,44054,2020-01-13,t,$839.00,$839.00,1.0,365.0
1,44054,2019-12-15,t,$839.00,$839.00,1.0,365.0
2,100213,2019-10-24,f,"$1,200.00","$1,200.00",1.0,30.0
3,100213,2019-11-30,f,"$1,320.00","$1,320.00",1.0,30.0
4,128496,2020-01-29,f,$389.00,$389.00,3.0,365.0
...,...,...,...,...,...,...,...
95,1303170,2020-02-11,t,"$1,155.00","$1,155.00",1.0,60.0
96,1325945,2020-04-11,t,$298.00,$298.00,2.0,1125.0
97,1325945,2019-11-12,t,$298.00,$298.00,2.0,1125.0
98,1370541,2019-10-03,f,$75.00,$75.00,3.0,30.0
99,1370541,2019-10-09,f,$75.00,$75.00,3.0,30.0

In [32]:
sample_calendar.isna().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [35]:
sample_calendar.to_csv('calendar_final.csv',index=False)